html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #383631;
	color: #e3e3e3;
	width: 100%;
	margin: 0;
}

.header {
	background-color: #3d4875;
}

.header h1 {
	padding: 20px;
	margin: 0;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e3e3e3;
}

.navbar li {
	float: left;
}

.navbar a {
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #383631;
	padding: 5px 10px 5px 10px;
}
.navbar #active a {
	background-color: #c7c7c7;
}
.navbar a:hover {
  background-color: #c7c7c7;
}
.content {
	width: 60%;
	margin: 0 auto;
}
.content p {
	font-size: 20px;
}

.content #scratch {
	text-align: center;
}

.content iframe {
	box-shadow: 25px black;
}

.footer {
	color: #82817d;
	text-align: center;
	background-color: #2b2a26;
	padding: 25px;
}

.footer a {
	text-decoration: none;
	color: white;
	float: center;
	text-align: center;
	padding: 10px;
}